# general

.idea
.DS_Store
/node_modules
package-lock.json
npm-debug.log*
pnpm-debug.log*

# Frontend (Vite)

/client/logs
/client/*.log
/client/npm-debug.log*
/client/pnpm-debug.log*
/client/node_modules
/client/dist
/client/dist-ssr
/client/*.local
/client/.env

# Backend (Node.js)
/backend/node_modules
/backend/.env
/backend/logs
/backend/*.log
/backend/build
/backend/uploads
